
body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #131219;
}
canvas {
  width: 500px;
  height: 500px;
  background-color: #131219;
}
p {
  color: white;
  font-size: 10px;
  text-align: center;

} 